@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply font-sans;
  }
}

@layer utilities {
  .chip {
    @apply text-tiny font-medium;
  }
  .badge {
    @apply text-tiny font-bold uppercase;
  }
  .label {
    @apply text-title font-medium;
  }
}

/* =============== react-calendar 글로벌 오버라이딩 =============== */

/* 달력 상단 네비게이션 부분 */
.react-calendar__navigation {
  @apply mb-3 flex items-center justify-between;
}

.react-calendar__navigation button {
  @apply px-2 py-1 text-gray-700 transition-colors hover:text-black;
}
.react-calendar__navigation__label {
  @apply text-lg font-bold text-gray-900;
}

/* 요일 이름 영역*/
.react-calendar__month-view__weekdays,
.react-calendar__month-view__weekdays__weekday abbr {
  @apply mb-2 font-semibold text-gray-500;
  text-decoration: none;
  text-transform: capitalize;
}

@layer utilities {
  .form-label {
    @apply flex flex-col gap-1 text-sm;
  }

  .flex-center {
    @apply flex items-center justify-center;
  }

  .form-input {
    @apply h-9 min-w-56 items-center rounded-md border border-black border-opacity-10 px-3 placeholder-opacity-50 outline-none;
  }

  .form-input-range {
    @apply bg-gradient-to-l from-primary-10 to-primary-70;
    display: block;
    -webkit-appearance: none;
    width: 200px;
    height: 10px;
    border-radius: 5px;
    outline: 0;
  }
  .form-input-range::-webkit-slider-thumb {
    @apply rounded-full bg-primary-10;
    position: relative;
    z-index: 1;
    -webkit-appearance: none;
    width: 22px;
    height: 22px;
    border: 2px solid white;
    cursor: pointer;
  }
  .form-input-number::-webkit-outer-spin-button,
  .form-input-number::-webkit-inner-spin-button {
    -webkit-appearance: inner-spin-button;
    opacity: 1;
  }
}
